<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adoughrable.online</title>
    <meta name="description" content="<%= locals.description %>">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <script defer src="/js/bootstrap_js/bootstrap.bundle.js"></script>
    <script defer src="/js/script.js"></script>
</head>
<body>
    <%- include('../partials/search.ejs') %>
    <%- include('../partials/header.ejs') %>
    
    <%- body %>
    <%- include('../partials/footer.ejs') %>

</body>
</html>